*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
    outline: none;
}

input{
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

.app-layout-content{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.app-layout-content aside{
    width: 250px;
    height: 100vh;
    background-color: #fff;
}

.app-layout-content aside ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.app-layout-content aside ul li{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #ccc;
}

.app-layout-content aside ul li a{
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;

}

.app-layout-content aside ul li:hover{
    background-color: rgba(204, 204, 204, 0.432);
    cursor: pointer;
}

.app-layout-content main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

